.card {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}

#input{
    outline: none;
}
#input:focus{
    border-bottom: 3px solid darkgray;
}
#btn:active{
    scale: 0.95;
}